<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}
  <section id="wrapper" {{ if eq .File.Dir "about/" }} class="bio" {{ end }}>
	{{ block "main" . }}{{ end }}
  </section>
  {{ partial "footer.html" . }}
  {{ partial "custom_footer.html" . }}
		{{ range .Site.Params.plugins_js }}
			<script src="{{ . }}"></script>
		{{ end }}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</html>
